$alata: 'Alata', sans-serif;
$joseFin: 'Josefin Sans', sans-serif;
$grey-color: hsl(0, 0%, 85%);

body{
    font-family: $alata;
}

h1, h2{
    font-family: $joseFin;
    font-weight: 100;
}

ul{
    display: inline-flex;
    list-style: none;
}

li{
    padding-right: 1.0em;
}

a{
    text-decoration: none;
    color: white;
    &:hover{
        text-decoration: underline;
        text-underline-offset: 8px;
    }
}

header{
    padding: 2.0em;
    img, nav, a{
        display: inline-flex;
        margin-bottom: 5.0em;
    }
    nav, a{
        float: right;
    }
}

footer{
    background-color: black;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    padding: 1.5em;
    section{
        order: 2;
        display: block;
        margin: auto;
    }
    nav{
        order: 3;
    }
    span{
        order: 4;
        display: block;
        margin: auto;
    }
    #logo{
        order: 1;
    }
}

button{
    background-color: white;
    border: 1px solid black;
    font-family: $alata;
    height: 35px;
    margin-top: 35px;
    letter-spacing: 0.3em;
}

button:hover{
    &:hover{
        background-color: black;
        color: white;
        cursor: pointer;
    }
}

picture{
    img{
        width: 100%;
    }
}

#mainSection{
    padding: 100px;
}

#copyright{
    color: $grey-color;
}

#immersive{
    color: $grey-color;
    border: 1px solid $grey-color;
    font-size: 50px;
    font-family: $joseFin;
    padding-top: 0.2em;
    max-width: 9.5em;
}

#socialLinks{
    img{
        padding-bottom: 5px;
        &:hover{
            cursor: pointer;
            border-bottom: 2px solid white;
        }
    }
}

#mobileMenu{
    background-color: black;
    a{
        font-family: $joseFin;
        color: $grey-color;
    }
}

#deepEarth, #nightArcade, #soccerTeam, #grid, #fromAbove, #borealis, #curiosity, #fisheye{
    position: relative;
    display: inline-block;
    &:hover{
        background-color: $grey-color;
        cursor: pointer;
        h2{
            color: black;
        }
        picture{
            opacity: 0.3;
        }
    }
}

#deepEarth picture, #nightArcade picture, #soccerTeam picture, #grid picture, 
#fromAbove picture, #borealis picture, #curiosity picture, #fisheye picture{
    display: block;
    width: 100%;
    margin: auto;
}

#deepEarth h2, #nightArcade h2, #soccerTeam h2, #grid h2, #fromAbove h2, #borealis h2, #curiosity h2, #fisheye h2{
    position: absolute;
    top: 80%;
    left: 10%;
    text-align: center;
    color: white;
}

.show{
    visibility: visible;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
}

.hide{
    display: none;
}

@media (max-width: 70em){
    header{
        background-image: url("./images/mobile/image-hero.jpg");
        nav{
            display: none;
        }
    }

    footer, ul{
        display: block;
    }

    footer, #mainSection, #interactiveSection, #creationsHead{
        text-align: center;
    }

    #interactive{
        width: 100%;
    }

    #desktopButton{
        display: none;
    }
}

@media (min-width: 70em){
    header{
        background-image: url("./images/desktop/image-hero.jpg");
    }

    #openMenu, #mobileMenu, #mobileButton{
        display: none;
    }

    #interactiveSection{
        position: relative;
        margin-bottom: 4.0em;
    }

    #interactiveInfo{
        position: absolute;
        background-color: white;
        padding: 4.0em;
        top: 45%;
        left: 45%;
    }

    #creationsHead{
        display: flex;
        justify-content: space-between;
    }

    #imageGrid{
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 15px;
    }
}